---
import { Icon } from 'astro-icon/components';
import { generateSequence } from '@/utils/array/generateSequence';
import type { Page } from 'astro';

interface Props {
	page: Page;
}

const { page } = Astro.props;

const { url, currentPage, lastPage } = page;

const pages = generateSequence(lastPage);
---

<nav aria-label="Pagination" class="pagination" data-testid="pagination">
	<ol class="pagination__list" data-testid="pagination-list">
		{
			url.first && (
				<li class="pagination__item" data-testid="pagination-prev">
					<a
						class="pagination__label pagination__link hover"
						data-testid="pagination-prev-link"
						href={url.prev}
					>
						<span class="sr-only">Previous page</span>

						<Icon
							aria-hidden="true"
							class="pagination__arrow-icon pagination__arrow-icon--rotated"
							data-testid="pagination-prev-icon"
							name="arrow-short"
							width={28}
						/>
					</a>
				</li>
			)
		}

		{
			pages.map((pageNumber) => {
				const isCurrent = pageNumber === currentPage;
				const isFirst = pageNumber === 1;
				const baseURL = url.first ?? url.current;
				const pageURL = isFirst ? baseURL : `${baseURL}${pageNumber}/`;

				return (
					<li class="pagination__item" data-testid="pagination-item">
						{isCurrent ? (
							<span
								aria-current="page"
								class="pagination__label"
								data-testid="pagination-current"
							>
								<span class="sr-only">Page</span> {pageNumber}
							</span>
						) : (
							<a
								class="pagination__label pagination__link hover"
								data-testid="pagination-link"
								href={pageURL}
							>
								<span class="sr-only">Page</span> {pageNumber}
							</a>
						)}
					</li>
				);
			})
		}

		{
			url.last && (
				<li class="pagination__item" data-testid="pagination-next">
					<a
						class="pagination__label pagination__link hover"
						data-testid="pagination-next-link"
						href={url.next}
					>
						<span class="sr-only">Next page</span>

						<Icon
							aria-hidden="true"
							class="pagination__arrow-icon"
							data-testid="pagination-next-icon"
							name="arrow-short"
							width={28}
						/>
					</a>
				</li>
			)
		}
	</ol>
</nav>

<style>
	.pagination {
		position: relative;
	}

	.pagination__list {
		display: flex;
		gap: 8px;
		justify-content: center;
	}

	.pagination__item {
		display: flex;
		align-items: center;
		justify-content: center;
	}

	.pagination__label {
		display: flex;
		align-items: center;
		justify-content: center;
		min-width: 42px;
		height: 42px;
		padding-block: 0.5rem;
		font-size: 1.125rem;
	}

	.pagination__link:focus-visible {
		--offset-width: -2px;

		border-radius: 6px;
		outline: 2px solid var(--color-focus);
		outline-offset: var(--offset-width);
	}

	.pagination__arrow-icon {
		position: relative;
	}

	.pagination__arrow-icon--rotated {
		transform: rotate(180deg);
	}
</style>
