---
import { Icon } from 'astro-icon/components';
import Layout from '@/layouts/Layout.astro';
import Glow from '@/components/shared/Glow.astro';
import { global } from '@/data/global';
import { generateTitle } from '@/utils/seo';

const title = generateTitle('404');

const emailDetails = {
	recipient: global.email,
	subject: 'Page not found',
	body: `I was trying to access the page at: ${Astro.url.href}`,
};

const mailToURL =
	`mailto:${emailDetails.recipient}?` +
	`subject=${encodeURIComponent(emailDetails.subject)}&` +
	`body=${encodeURIComponent(emailDetails.body)}`;
const githubIssueURL = 'https://github.com/ruslanpashkov/ruslanpashkov.com/issues';
---

<Layout cover="404.png" description="Page not found" title={title} type="website">
	<div class="container container--gapped" data-testid="404-page-container">
		<section
			aria-labelledby="not-found-title"
			class="not-found"
			data-testid="404-not-found-section"
		>
			<div class="not-found__title-container" data-testid="404-title-container">
				<h1 class="not-found__title" data-testid="404-title" id="not-found-title">
					Page not found
				</h1>

				<div class="not-found__divider" data-testid="404-divider" role="presentation"></div>
			</div>

			<div class="not-found__content" data-testid="404-content">
				<h2 class="not-found__subtitle" data-testid="404-subtitle">
					Sorry, the page you are looking for does not exist.
				</h2>

				<p class="not-found__description" data-testid="404-description">
					Please check the URL in the address bar and try again.
					{' '}
					If you believe this is an error, please

					<a class="not-found__contact" data-testid="404-contact-link" href={mailToURL}
						>contact me</a
					><span aria-hidden="true">.</span>
				</p>

				<a class="not-found__back hover" data-testid="404-back-link" href="/">
					<Icon
						aria-hidden="true"
						data-testid="404-back-icon"
						name="arrow-short"
						width={28}
					/>

					Go back to the homepage
				</a>

				<p class="not-found__issue" data-testid="404-issue">
					You can also

					<a
						class="not-found__contact"
						data-testid="404-github-link"
						href={githubIssueURL}
						rel="noreferrer"
						target="_blank"
					>
						report this issue on GitHub
					</a>

					— because clearly the website forgot how links work.
				</p>
			</div>
		</section>

		<span class="glow-not-found" data-testid="404-glow">
			<Glow />
		</span>
	</div>
</Layout>

<style>
	.not-found {
		padding-block: 60px;

		@media (width >= 48rem) {
			padding-block: 80px;
		}

		@media (width >= 64rem) {
			padding-block: 100px;
		}
	}

	.not-found__title-container {
		margin-bottom: 40px;
	}

	.not-found__title {
		margin-bottom: 12px;
		font-size: 2.25rem;

		@media (width >= 48rem) {
			font-size: 3rem;
		}

		@media (width >= 64rem) {
			font-size: 4.5rem;
		}
	}

	.not-found__divider {
		height: 1px;
		background-color: var(--color-contrast);
	}

	.not-found__content {
		display: flex;
		flex-direction: column;
		gap: 32px;

		@media (width >= 48rem) {
			gap: 24px;
		}

		@media (width >= 64rem) {
			gap: 20px;
		}
	}

	.not-found__subtitle {
		font-size: 1.5rem;
	}

	.not-found__description {
		@media (width >= 48rem) {
			font-size: 1.125rem;
		}
	}

	.not-found__contact {
		text-decoration: underline;
	}

	.not-found__back {
		display: flex;
		gap: 12px;
		align-items: center;
		width: max-content;
		font-size: 1.125rem;
		text-decoration: underline;
	}

	[data-icon='arrow-short'] {
		transform: rotate(180deg);
	}

	.glow-not-found {
		position: absolute;
		z-index: var(--z-index-glow);
		bottom: 0;
		width: 100vw;
		margin-left: calc(50% + 50vw);
	}
</style>
