---
import Glow from '@/components/Glow.astro';
import Articles from '@/components/Home/Articles.astro';
import Contacts from '@/components/Home/Contacts.astro';
import Credits from '@/components/Home/Credits.astro';
import Hero from '@/components/Home/Hero.astro';
import Projects from '@/components/Home/Projects.astro';
import Section from '@/components/Home/Section.astro';
import { contacts } from '@/data/contacts';
import { credits } from '@/data/credits';
import { descriptions } from '@/data/descriptions';
import { global } from '@/data/global';
import { projects } from '@/data/projects';
import Layout from '@/layouts/Layout.astro';
import { getPersonSchema } from '@/utils/schemas/getPersonSchema';
import { sortArticlesByDate } from '@/utils/sortArticlesByDate';
import { getCollection } from 'astro:content';

const blog = await getCollection('blog');

const articles = sortArticlesByDate(blog);

const personSchema = getPersonSchema(Astro.site!);
---

<Layout
	cover="/home.png"
	description={descriptions.home}
	schemas={[personSchema]}
	title={global.author}
	type="website"
>
	<div class="layout container">
		<Hero />

		{
			articles.length > 0 && (
				<Section
					counter={articles.length}
					link={{
						label: 'View all articles',
						title: 'View all',
						url: '/blog',
					}}
					title="Blog"
				>
					<span class="glow-blog">
						<Glow />
					</span>

					<Articles articles={articles} />
				</Section>
			)
		}

		{
			projects.length > 0 && (
				<Section
					counter={projects.length}
					link={{
						label: 'View all projects',
						title: 'View all',
						url: '/projects',
					}}
					title="Projects"
				>
					<span class="glow-projects">
						<Glow />
					</span>

					<Projects projects={projects} />
				</Section>
			)
		}

		{
			contacts.length > 0 && (
				<Section title="Contacts">
					<div class="details">
						<Contacts contacts={contacts} />

						<Credits credits={credits} />
					</div>
				</Section>
			)
		}
	</div>
</Layout>

<style>
	.glow-blog,
	.glow-projects {
		position: absolute;
		z-index: var(--z-index-glow);
		bottom: 0;
		width: 100vw;
	}

	.glow-blog {
		margin-left: calc(50% + 50vw);
	}

	.glow-projects {
		margin-left: calc(50% - 50vw);
	}

	.details {
		display: flex;
		flex-direction: column;
		gap: 40px;

		@media (width >= 768px) {
			flex-direction: row;
			align-items: end;
			justify-content: space-between;
		}
	}
</style>
