---
import { copyright } from '@/data/copyright';
import { global } from '@/data/global';
---

<footer class="footer">
	<div class="container footer__content">
		<a class="footer__back-to-top" href="#body">Back to top</a>

		<div class="footer__legal">
			<small>© {copyright.year} {global.author}.</small>

			<dl class="license-list">
				{
					copyright.licenses.map((license) => (
						<div class="license-list__item">
							<dt class="license-list__term">{license.label}:</dt>

							<dd class="license-list__desc">
								<a
									class="license-list__link"
									href={license.url}
									rel="noopener noreferrer"
									target="_blank"
								>
									{license.title}
								</a>
								.
							</dd>
						</div>
					))
				}
			</dl>
		</div>
	</div>
</footer>

<style>
	.footer {
		display: flex;
		justify-content: center;
		justify-items: center;
		padding-block: 20px;
	}

	.footer__content {
		display: flex;
		flex-direction: column;
		gap: 20px;
		align-items: center;
		justify-content: center;
	}

	.footer__back-to-top {
		align-self: end;
		text-decoration: underline;

		@media (width >= 1024px) {
			position: absolute;
			right: 20px;
			align-self: auto;
		}
	}

	.footer__legal {
		--spacing-width: 0.4ch;

		display: flex;
		flex-direction: column-reverse;
		gap: 20px var(--spacing-width);
		justify-content: center;
		width: 100%;
		font-size: 1.125rem;
		text-align: center;
		text-wrap: balance;

		@media (width >= 768px) {
			display: inline;
			font-size: 1.25rem;
		}
	}

	.license-list {
		display: flex;
		flex-flow: column wrap;
		column-gap: var(--spacing-width);
		justify-content: center;

		@media (width >= 768px) {
			display: inline-flex;
			flex-direction: row;
		}
	}

	.license-list__item {
		display: inline-flex;
		column-gap: var(--spacing-width);
	}

	.license-list__term {
		white-space: nowrap;
	}

	.license-list__desc {
		display: inline-flex;
	}

	.license-list__link {
		text-decoration: underline;
	}
</style>
