---
import { copyright } from '@/data/copyright';
import { global } from '@/data/global';
---

<footer class="footer" data-testid="footer">
	<div class="container footer__content" data-testid="footer-content">
		<a class="footer__back-to-top" data-testid="footer-back-to-top" href="#body">Back to top</a>

		<div class="footer__legal" data-testid="footer-legal">
			<small class="footer__copyright" data-testid="footer-copyright">
				© {copyright.year}
				{global.author}.
			</small>

			<dl class="license-list" data-testid="footer-license-list">
				{
					copyright.licenses.map((license) => (
						<div class="license-list__item" data-testid="footer-license-item">
							<dt class="license-list__term" data-testid="footer-license-term">
								{license.label}:
							</dt>

							<dd class="license-list__desc" data-testid="footer-license-desc">
								<a
									class="license-list__link"
									data-testid="footer-license-link"
									href={license.url}
									rel="noreferrer"
									target="_blank"
								>
									{license.title}
								</a>

								<span aria-hidden="true">.</span>
							</dd>
						</div>
					))
				}
			</dl>
		</div>
	</div>
</footer>

<style>
	.footer {
		display: flex;
		justify-content: center;
		justify-items: center;
		padding-block: 20px;
	}

	.footer__content {
		display: flex;
		flex-direction: column;
		gap: 20px;
		align-items: center;
		justify-content: center;
	}

	.footer__back-to-top {
		align-self: end;
		text-decoration: underline;

		@media (width >= 1024px) {
			position: absolute;
			right: 20px;
			align-self: auto;
		}
	}

	.footer__legal {
		display: flex;
		flex-direction: column-reverse;
		gap: 20px;
		justify-content: center;
		width: 100%;
		font-size: 1.125rem;
		text-wrap: balance;

		@media (width >= 768px) {
			display: inline;
			font-size: 1.25rem;
			text-align: center;
		}
	}

	.footer__copyright {
		text-align: center;
		white-space: pre;

		@media (width >= 768px) {
			margin-right: var(--text-spacing);
		}
	}

	.license-list {
		display: flex;
		flex-direction: column;
		white-space: nowrap;

		@media (width >= 768px) {
			display: inline;
		}
	}

	.license-list__item {
		display: inline;

		@media (width >= 768px) {
			&:not(:last-child) {
				margin-right: var(--text-spacing);
			}
		}
	}

	.license-list__term {
		display: inline;
		margin-right: var(--text-spacing);
		white-space: nowrap;
	}

	.license-list__desc {
		display: inline-flex;
	}

	.license-list__link {
		text-decoration: underline;
	}
</style>
