---
import type { Link } from '@/types/Link';

import ProjectList from '@/components/Projects/ProjectList.astro';
import ProjectSection from '@/components/Projects/ProjectSection.astro';
import Glow from '@/components/shared/Glow.astro';
import { descriptions } from '@/data/descriptions';
import { projects } from '@/data/projects';
import ContentLayout from '@/layouts/ContentLayout.astro';
import Layout from '@/layouts/Layout.astro';
import { projectTypes } from '@/types/Project';
import { categorize, sortByType } from '@/utils/project';
import { generateTitle, getBreadcrumbsSchema, getProjectsSchema } from '@/utils/seo';

const title = generateTitle('Projects');

const sortedProjects = sortByType(projects);

const {
	'Developer Tools': developerTools,
	Utilities: utilities,
	'Web Showcases': webShowcases,
} = categorize(sortedProjects, projectTypes);

const breadcrumbs: Link[] = [
	{ title: 'Home', url: '/' },
	{ title: 'Projects', url: '/projects/' },
];

const projectsSchema = getProjectsSchema(Astro.url, sortedProjects);
const breadcrumbsSchema = getBreadcrumbsSchema(Astro.url, breadcrumbs);
---

<Layout
	cover="projects.png"
	description={descriptions.projects}
	schemas={[projectsSchema, breadcrumbsSchema]}
	title={title}
	type="website"
>
	<ContentLayout breadcrumbs={breadcrumbs} title="Projects">
		<div class="projects" data-testid="projects-page-container">
			{
				webShowcases.length > 0 && (
					<ProjectSection title="Web Showcases">
						<ProjectList projects={webShowcases} />

						<span class="web-showcases-glow" data-testid="projects-web-showcases-glow">
							<Glow />
						</span>
					</ProjectSection>
				)
			}

			{
				utilities.length > 0 && (
					<ProjectSection title="Utilities">
						<ProjectList projects={utilities} />

						<span class="utilities-glow" data-testid="projects-utilities-glow">
							<Glow />
						</span>
					</ProjectSection>
				)
			}

			{
				developerTools.length > 0 && (
					<ProjectSection title="Developer Tools">
						<ProjectList projects={developerTools} />

						<span
							class="developer-tools-glow"
							data-testid="projects-developer-tools-glow"
						>
							<Glow />
						</span>
					</ProjectSection>
				)
			}
		</div>
	</ContentLayout>
</Layout>

<style>
	.projects {
		display: flex;
		flex-direction: column;
		gap: 40px;

		@media (width >= 768px) {
			gap: 60px;
		}
	}

	.web-showcases-glow,
	.utilities-glow,
	.developer-tools-glow {
		position: absolute;
		z-index: var(--z-index-glow);
		bottom: 50%;
		width: 100vw;
	}

	.web-showcases-glow {
		margin-left: calc(50% + 50vw);
	}

	.utilities-glow {
		margin-left: calc(50% - 50vw);
	}

	.developer-tools-glow {
		margin-left: calc(50%);
	}
</style>
