---
import type { Article } from '@/types/Article';

import { formatDate } from '@/utils/formatting';

interface Props {
	article: Article;
}

const { article } = Astro.props;

const { categories, description, publishedAt, slug, title, topic } = article.data;

const publishedDate = formatDate(publishedAt);
---

<article class="article-card" data-testid="blog-article-card">
	<header class="article-card__header" data-testid="blog-article-header">
		<time class="article-card__date" data-testid="blog-article-date" datetime={publishedAt}>
			{publishedDate}
		</time>

		<p class="article-card__topic" data-testid="blog-article-topic">{topic}</p>
	</header>

	<a
		class="article-card__link"
		data-testid="blog-article-link"
		draggable="false"
		href={`/blog/${slug}/`}
	>
		<h2 class="article-card__title" data-testid="blog-article-title">{title}</h2>
	</a>

	<p data-testid="blog-article-description">{description}</p>

	<ul class="article-tags" data-testid="blog-article-tags">
		{
			categories.map((category) => (
				<li class="article-tags__item" data-testid="blog-article-tag">
					{category}
				</li>
			))
		}
	</ul>
</article>

<style>
	.article-card {
		--border-rounding: 12px;

		position: relative;
		display: flex;
		flex-direction: column;
		gap: 12px;
		height: 100%;
		padding: 20px;
		border: 1px solid var(--color-secondary);
		border-radius: var(--border-rounding);
		background-color: var(--color-transparent);
		backdrop-filter: blur(10px);
	}

	.article-card__header {
		display: flex;
		flex-wrap: wrap;
		gap: 12px;
		align-items: center;
		justify-content: space-between;
	}

	.article-card__topic {
		padding: 2px 8px;
		border: 1px solid var(--color-contrast);
		border-radius: 24px;
		font-size: 0.875rem;
	}

	.article-card__link {
		&::before {
			content: '';
			position: absolute;
			inset: 0;
			border-radius: var(--border-rounding);
		}

		&:focus-visible {
			outline: none;
		}

		&:focus-visible::before {
			outline: 2px solid var(--color-focus);
			outline-offset: 2px;
		}
	}

	.article-card__title {
		font-size: 1.5rem;

		@media (width >= 768px) {
			font-size: 1.875rem;
		}
	}

	.article-card__description {
		@media (width >= 768px) {
			font-size: 1.125rem;
		}
	}

	.article-tags {
		display: flex;
		flex-wrap: wrap;
		gap: 8px;
		align-items: start;
	}

	.article-tags__item {
		padding: 2px 8px;
		border: 1px solid var(--color-contrast);
		border-radius: 24px;
	}
</style>
