---
import { getCollection } from 'astro:content';
import Layout from '@/layouts/Layout.astro';
import ContentLayout from '@/layouts/ContentLayout.astro';
import BlogList from '@/components/Blog/BlogList.astro';
import Glow from '@/components/shared/Glow.astro';
import { descriptions } from '@/data/descriptions';
import { sortByDate } from '@/utils/article';
import { generateTitle, getBlogSchema, getBreadcrumbsSchema } from '@/utils/seo';
import type { GetStaticPathsOptions } from 'astro';
import type { Link } from '@/types/Link';

export async function getStaticPaths({ paginate }: GetStaticPathsOptions) {
	const articles = await getCollection('blog');

	return paginate(sortByDate(articles), {
		pageSize: 6,
	});
}

const { page } = Astro.props;

const title = page.currentPage === 1 ? 'Blog' : `Blog — Page ${page.currentPage}`;
const pageTitle = generateTitle(title);

const breadcrumbs: Link[] = [
	{ title: 'Home', url: '/' },
	{ title: 'Blog', url: '/blog/' },
];

const blogSchema = getBlogSchema(Astro.url, page.data);
const breadcrumbsSchema = getBreadcrumbsSchema(Astro.url, breadcrumbs);
---

<Layout
	cover="blog.png"
	description={descriptions.articles}
	schemas={[blogSchema, breadcrumbsSchema]}
	title={pageTitle}
	type="website"
>
	<ContentLayout breadcrumbs={breadcrumbs} title="Blog">
		{
			page.data.length > 0 ? (
				<div class="articles" data-testid="blog-articles-container">
					<BlogList page={page} />

					<span class="articles-glow" data-testid="blog-articles-glow">
						<Glow />
					</span>
				</div>
			) : (
				<div class="no-articles" data-testid="blog-no-articles">
					<h2 class="no-articles__title" data-testid="blog-no-articles-title">
						There are no articles yet.
					</h2>

					<p class="no-articles__subtitle" data-testid="blog-no-articles-subtitle">
						But you still can check out my projects on
						<a
							class="no-articles__projects-link"
							data-testid="blog-no-articles-projects-link"
							href="/projects/"
						>
							the projects page!
						</a>
					</p>
				</div>
			)
		}
	</ContentLayout>
</Layout>

<style>
	.articles {
		position: relative;
	}

	.no-articles {
		display: flex;
		flex-direction: column;
		gap: 20px;
	}

	.no-articles__title {
		font-size: 1.5rem;

		@media (width >= 768px) {
			font-size: 2.25rem;
		}
	}

	.no-articles__subtitle {
		@media (width >= 768px) {
			font-size: 1.125rem;
		}
	}

	.no-articles__projects-link {
		text-decoration: underline;
	}

	.articles-glow {
		position: absolute;
		z-index: var(--z-index-glow);
		bottom: 50%;
		width: 100vw;
		margin-left: calc(50% - 50vw);
	}
</style>
