---
import '@/styles/global.css';
import Header from '@/components/shared/Header.astro';
import Footer from '@/components/shared/Footer.astro';
import SkipToContent from '@/components/shared/SkipToContent.astro';
import { global } from '@/data/global';
import { colors } from '@/constants/colors';
import lightStyles from '@/styles/light.css?raw';
import darkStyles from '@/styles/dark.css?raw';
import type { Thing, WithContext } from 'schema-dts';
import type { Article } from '@/types/Article';

interface DefaultProps {
	title: string;
	description: string;
	cover: string;
	schemas?: WithContext<Thing>[];
}

interface ArticleProps extends DefaultProps {
	type: 'article';
	article: Article;
}

interface WebsiteProps extends DefaultProps {
	type: 'website';
}

type Props = ArticleProps | WebsiteProps;

const props = Astro.props;
const { cover, description, schemas = [], title, type } = props;

const canonicalURL = new URL(Astro.url.pathname, Astro.site);
const previewImageURL = new URL(`/images/previews/${cover}`, Astro.site);
const rssURL = new URL('/rss.xml', Astro.site);

const generator = Astro.generator;
---

<!doctype html>
<html class="page" lang="en" prefix="og: http://ogp.me/ns#">
	<head>
		<meta charset="UTF-8" />

		<meta content="width=device-width, initial-scale=1" name="viewport" />

		<title>{title}</title>

		<script
			async
			data-website-id="82928ad7-9523-493f-8232-048002cbb8b8"
			is:inline
			src="https://cloud.umami.is/script.js"></script>

		{
			schemas.length > 0 &&
				schemas.map((schema) => (
					<script
						is:inline
						set:html={JSON.stringify(schema)}
						type="application/ld+json"
					/>
				))
		}

		<style id="style-media-light" media="(prefers-color-scheme: light)" set:html={lightStyles}
		></style>
		<style id="style-media-dark" media="(prefers-color-scheme: dark)" set:html={darkStyles}
		></style>

		<link href="/favicon.ico" rel="icon" sizes="48x48" />
		<link href="/icon.svg" rel="icon" type="image/svg+xml" />
		<link href="/apple-touch-icon.png" rel="apple-touch-icon" />
		<link href="/apple-touch-icon-precomposed.png" rel="apple-touch-icon-precomposed" />

		<link href="/manifest.webmanifest" rel="manifest" />

		<link href="/sitemap-index.xml" rel="sitemap" />

		<link href={rssURL} rel="alternate" title={global.author} type="application/rss+xml" />

		<link href={canonicalURL} rel="canonical" />

		<meta content={title} name="title" />
		<meta content={description} name="description" />

		<meta content="yes" name="mobile-web-app-capable" />
		<meta content={global.author} name="application-name" />

		<meta content={global.author} name="author" />

		<meta content={generator} name="generator" />

		<meta content="en_US" property="og:locale" />
		<meta content={global.author} property="og:site_name" />
		<meta content={type} property="og:type" />
		<meta content={title} property="og:title" />
		<meta content={description} property="og:description" />
		<meta content={canonicalURL} property="og:url" />
		<meta content={previewImageURL} property="og:image" />
		<meta content="image/png" property="og:image:type" />
		<meta content="1200" property="og:image:width" />
		<meta content="630" property="og:image:height" />

		<meta content="summary_large_image" property="twitter:card" />
		<meta content={title} property="twitter:title" />
		<meta content={description} property="twitter:description" />
		<meta content={canonicalURL} property="twitter:url" />
		<meta content={previewImageURL} property="twitter:image" />

		{
			type === 'article' && (
				<>
					<meta content={global.author} property="article:author" />
					<meta
						content={props.article.data.publishedAt}
						property="article:published_time"
					/>
					<meta content={props.article.data.topic} property="article:section" />

					{props.article.data.categories.map((category) => (
						<meta content={category} property="article:tag" />
					))}
				</>
			)
		}

		<meta
			content={colors.light}
			id="theme-color-light"
			media="(prefers-color-scheme: light)"
			name="theme-color"
		/>
		<meta
			content={colors.dark}
			id="theme-color-dark"
			media="(prefers-color-scheme: dark)"
			name="theme-color"
		/>
	</head>

	<body class="page__body" id="body">
		<SkipToContent />

		<Header />

		<main class="page__content" id="content">
			<slot />
		</main>

		<Footer />
	</body>
</html>

<style>
	.page {
		font-family: Montserrat, sans-serif;
		line-height: 1.5;
		color: var(--color-contrast);

		@media (prefers-reduced-motion: no-preference) {
			scroll-behavior: smooth;
		}
	}

	.page__body {
		overflow-x: hidden;
		display: flex;
		flex-direction: column;
		min-height: 100dvh;
		overflow-wrap: anywhere;
		background-color: var(--color-primary);
	}

	.page__body--clip {
		overflow: hidden;
	}

	.page__content {
		scroll-margin-top: 100px;
		overflow-x: clip;
		flex: 1;
		margin-bottom: 60px;

		@media (width >= 48rem) {
			margin-bottom: 80px;
		}

		@media (width >= 64rem) {
			margin-bottom: 100px;
		}
	}
</style>
